#button{
    width: 20%;
    margin: auto;
}

#picture{
    border: 3px solid black;
    margin-left: 20px;
    background-color: aquamarine;

}
body{
    background-image: url("https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&h=350");
}
form{
    background-color: bisque;
    padding: 10px;
    border: 3px solid rgb(19, 1, 26);
    margin: auto;
}

